* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #1e1e2f;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  position : relative;
}

.calculator h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  color:#a5ff90;
  text-shadow: #a5ff85 0px 0px 20px;
}

#input {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  color:rgb(0, 145, 255);
  font-weight: bold;
}

#output {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 8px 12px;
  text-align: right;
  font-size: 22px;
  font-weight: 500;
  color: #00ff73;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: #2a2a40;
  color: #fff;
  transition: 0.2s ease;
}

button:hover {
  background: #00ffbf;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.equals {
  background: #4caf50;
  grid-column: span 2;
}

.equals:hover {
  background: #43a047;
}

.zero {
  grid-column: span 2;
}

.danger {
  background: #e53935;
}

.danger:hover {
  background: #ffb74d;
}
.btn.dot {
  font-size: 24px;
}
.btn.dot:hover {
  background: #ffb74d;
}

.operator:hover {
  background: #ffb74d;
  color: white;
  transform: scale(1.25);
}

.operator {
  transition: background 0.2s ease, transform 0.1s ease;
}



